table{
    
    margin-left: 50px;
    width: 90vw;
    border: none;
    position: relative;
    
}
tr{
    border: 1px solid black;
    
}
td{
    text-align: center;
}
th{
    height: 30px;
}

tr button{
    background-color: #ea1538;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    color: white;
    width: 70px;
    padding: 10px;
}