*{
    margin: 0;
    padding: 0;
    
   
}

.page{
    /* border: 1px solid black; */
    position: absolute;
    margin: 50px 0  0 60px ;
    height: 200vh;
    width: 90%;
   
    background-color: rgb(246, 244, 241);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.page .wrapper{
    align-items: center;
}
.page h2{
    font-size: 3rem;
    position: relative;
    margin-left: 28px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

.wrapper{
    border: 1px solid black;
    width: 90%;
    height: 100vh;
    position: relative;
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.con-studentD{
    position: absolute;
    /* margin-top: 25px; */
    /* margin-left: 10px; */
    /* margin-right: 5px; */
}

.title{
    width: 40%;
    border: 1px solid black;
    /* border-style: hidden solid  solid hidden; */
    
}

.title-edit{
    height:400px;
}

.title h3{
    margin-top: 3rem;
    margin-left: 2rem;
}

.detail{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    border-style: hidden hidden  solid hidden;
    display: block;
    
}
.div-name{
    
}


